<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>timeattack</title>
</head>
<body>
    <form action="/new/" method="post">
        <div class="mt-3 row">
        <input> type="text" class="form-control" name="title" id="title" placeholder="title">
        <input> ype="text" class="form-control" name="content" id="content" placeholder="content"
        {% comment %} <dropdown...> ype="text" class="form-control" name="category" id="category" {% endcomment %}
        <button action="/new/" name='article' id="article" type="submit" class="btn btn-primary" style="float:right;">글쓰기</button>
    </form>
</body>
</html>